# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# llmkey
*.key

# output
build/
.gocache/
.gomodcache/
config.yaml
.gocache
/data
.data
# editor
.vscode/
.idea/

# temp
*temp.txt
logs/
api_out.json
prod.config.yaml
local.config.yaml
.gocache
doc/阵营击杀竞猜/例子
/.gocache_local/
.gomodcache