BROWSER_HOST=127.0.0.1
BROWSER_PORT=20009
BROWSER_AUTH_TOKEN=
BROWSER_PROFILE_ROOT=../../data/browser-profiles
BROWSER_HEADLESS=false
BROWSER_HUMANIZE=true
BROWSER_SEARCH_BASE_URL=https://www.google.com/search?q=
BROWSER_NAVIGATION_TIMEOUT_MS=45000
BROWSER_MAX_TEXT_CHARS=16000
